.headset-div{
    display: flex;
    width: auto;
}
.headset1{
    min-height: 216px;
    width: 49.5vw;
}
.headset-img{
    display: flex;
    width: 50vw;
}
.product-description{
    padding: 4px 4px 8px 12px;
}
.sponsored{
    color: rgba(184, 187, 191, 1);
    font-size: 10px;
    line-height: 16px;
    font-family: var(--int-reg);
    letter-spacing: 0,01px;
}
.headset-name{
    color: rgba(17, 17, 18, 1);
    font-size: 14px;
    line-height: 20px;
    font-family: var(--int-semi);
    letter-spacing: -0.01px;
    height: 18px;
    margin-right: 6px;
}
.headset-description{
    color: rgba(113, 116, 120, 1);
    font-size: 12px;
    line-height: 18px;
    font-family: var(--int-reg);
    letter-spacing: 0;
    margin-right: 10px;
    padding-right: 8px;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prices{
    display: flex;
    font-family: var(--int-semi);
    line-height: 20px;
    font-size: 14px;
}
.discount-percentage{
    display: flex;
    align-items: center;
    color: rgba(0, 140, 0, 1);
    margin-right: 4px;
}
.actual-price{
    color: rgba(113, 116, 120, 1);
    text-decoration: line-through;
    margin-right: 4px;
}
.wow-offer{
    display: flex;
    font-size: 12px;
    color: rgba(6, 31, 128, 1);
    margin-top: 6px;
}
.wow{
    height: 16px;
    width: 38px;
    margin-right: 2px;
}
.rate-section{
    display: flex;
    flex-direction: row;
    position: relative;
}
.f-assured{
    position: absolute;
    width: 60px;
    height: 16px;
    left: 86px;
    top: 8px;
}
