flipkart/src/assets/3verticalDots.svg
flipkart/src/assets/dropdown-arrow.svg
flipkart/src/assets/fkheaderlogo_mobile.svg
flipkart/src/assets/fkheaderlogo.svg
flipkart/src/assets/header_cart.svg
flipkart/src/assets/install.svg
flipkart/src/assets/logo_lite.png
flipkart/src/assets/menu.svg
flipkart/src/assets/profile.svg
flipkart/src/assets/Store.svg
flipkart/src/assets/BannerProducts/big-banner2.jpg
flipkart/src/assets/BannerProducts/big-banner3.jpg
flipkart/src/assets/BannerProducts/big-banner4.jpg
flipkart/src/assets/BannerProducts/big-banner5.jpg
flipkart/src/assets/BannerProducts/big-banner6.jpg
flipkart/src/assets/BannerProducts/Product0.webp
flipkart/src/assets/BannerProducts/Product1.webp
flipkart/src/assets/BannerProducts/Product2.webp
flipkart/src/assets/BannerProducts/Product3.webp
flipkart/src/assets/BannerProducts/Product4.webp
flipkart/src/assets/BannerProducts/Product5.webp
flipkart/src/assets/BannerProducts/Product6.webp
flipkart/src/assets/BannerProducts/Product7.webp
flipkart/src/assets/BannerProducts/Product8.webp
flipkart/src/assets/CategoriesMobile/10mins.webp
flipkart/src/assets/CategoriesMobile/appliances.png
flipkart/src/assets/CategoriesMobile/auto.png
flipkart/src/assets/CategoriesMobile/beauty.png
flipkart/src/assets/CategoriesMobile/electronics.jpg
flipkart/src/assets/CategoriesMobile/fashion.jpg
flipkart/src/assets/CategoriesMobile/food,health.png
flipkart/src/assets/CategoriesMobile/fPay.png
flipkart/src/assets/CategoriesMobile/furniture.jpg
flipkart/src/assets/CategoriesMobile/genz.jpg
flipkart/src/assets/CategoriesMobile/grocery.jpg
flipkart/src/assets/CategoriesMobile/home.jpg
flipkart/src/assets/CategoriesMobile/mobiles.jpg
flipkart/src/assets/CategoriesMobile/nextGen.jpg
flipkart/src/assets/CategoriesMobile/sell.jpg
flipkart/src/assets/CategoriesMobile/sports.jpg
flipkart/src/assets/CategoriesMobile/superCoin.jpg
flipkart/src/assets/CategoriesMobile/toys.png
flipkart/src/assets/CategoriesMobile/travel.jpg
flipkart/src/assets/CategoriesMobile/twoWheeler.jpg
flipkart/src/assets/CategoryBanner/beauty,food.png
flipkart/src/assets/CategoryBanner/electronics.png
flipkart/src/assets/CategoryBanner/fashion.png
flipkart/src/assets/CategoryBanner/flight.png
flipkart/src/assets/CategoryBanner/grocery.png
flipkart/src/assets/CategoryBanner/home&furniture.png
flipkart/src/assets/CategoryBanner/minutes.png
flipkart/src/assets/CategoryBanner/mob&tab.webp
flipkart/src/assets/CategoryBanner/tv&appliances.jpg
flipkart/src/assets/electronics/mini-printer.jpeg
flipkart/src/assets/electronics/monitoor.jpeg
flipkart/src/assets/electronics/monitor.jpeg
flipkart/src/assets/electronics/nord-buds.jpeg
flipkart/src/assets/electronics/printer.jpeg
flipkart/src/assets/electronics/projector.jpeg
flipkart/src/assets/electronics/sony.jpeg
flipkart/src/assets/electronics/travel.jpg
flipkart/src/assets/electronics/watch.jpeg
flipkart/src/assets/fonts/Inter-Regular.woff2
flipkart/src/assets/fonts/Inter-SemiBold.woff2
flipkart/src/assets/fonts/roboto-medium.woff2
flipkart/src/assets/fonts/roboto-regular.woff2
flipkart/src/assets/headset/feature.png
flipkart/src/assets/headset/off.png
flipkart/src/assets/headset/triggr-green.jpeg
flipkart/src/assets/headset/wow.png
flipkart/src/assets/location/location.png
flipkart/src/assets/location/profile_blue-logo.png
flipkart/src/assets/menu/all-categories.webp
flipkart/src/assets/menu/coupons.png
flipkart/src/assets/menu/flipkart-plus.webp
flipkart/src/assets/menu/language.webp
flipkart/src/assets/menu/logo_lite.png
flipkart/src/assets/menu/More-on-Flipkart.webp
flipkart/src/assets/menu/myAccount.png
flipkart/src/assets/menu/myNotifications.png
flipkart/src/assets/menu/myOrders.png
flipkart/src/assets/menu/myWishlist.png
flipkart/src/assets/menu/offerZone.png
flipkart/src/assets/menu/prof.svg
flipkart/src/assets/menu/sellOnFlipkart.webp
flipkart/src/assets/menu/superCoin.webp
flipkart/src/assets/menu/yCart.png
flipkart/src/assets/newCustomer/fkplus.svg
flipkart/src/assets/newCustomer/giftCard.svg
flipkart/src/assets/newCustomer/orders.svg
flipkart/src/assets/newCustomer/profile.svg
flipkart/src/assets/newCustomer/rewards.svg
flipkart/src/assets/newCustomer/wishlist.svg
flipkart/src/assets/searchPage/backArrow.svg
