.feauture{
    width:100%; 
    padding-inline:11px;
    overflow:scroll;
    scrollbar-width: none;
}
.features{
    display: flex;
    height: 56px;
    width: 452px;
}
.offer-cell{
    display: flex;
    align-items: center;
    margin-inline: 4px;
    margin-top: 8px;
    padding-left: 4px;
    padding-right: 8px;
    height: 40px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
}
.off-img{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}
.offer-txt{
    font-family: var(--robo-reg);
    font-size: 12px;
    line-height: 16px;
    word-wrap: break-word;
    line-clamp: 2;
}